<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.PedidoDetalleMapper">
	<resultMap id="PedidoDetalleMap" type="models.PedidoDetalle">
	
		<id column="id_pedido_detalle" property="idPedidoDetalle"/>
		<result column="id_pedido" property="idPedido"/>
		<result column="id_producto" property="idProducto"/>
		<result column="cantidad" property="cantidad"/>
		<result column="precio_unitario" property="precioUnitario"/>
		<result column="subtotal" property="subtotal"/>
		<result column="fecha_creacion" property="fechaCreacion"/>
		<result column="nombre" property="nombreProd"/>
		<result column="imagen_url" property="imagenUrl"/>
		<result column="precio" property="precio"/>
	</resultMap>

	<select id="obtenerPedidoDetallePorIdPedidoAndIdProducto" resultMap="PedidoDetalleMap">
		SELECT id_pedido_detalle, id_pedido, id_producto, cantidad, precio_unitario, subtotal, fecha_creacion
		FROM pedido_detalles
		WHERE estado_auditoria = '1' AND id_pedido = #{idPedido} AND id_producto = #{idProducto}
	</select>
	
	<insert id="insertarPedidoDetalle" parameterType="models.PedidoDetalle" useGeneratedKeys="true" keyProperty="idPedidoDetalle">
		INSERT INTO pedido_detalles (id_pedido, id_producto, precio_unitario, subtotal) 
		VALUES(#{idPedido}, #{idProducto}, #{precioUnitario}, #{subtotal})
	</insert>
	
	<update id="aumentarPedidoDetalleCantidad" parameterType="Integer">
		UPDATE pedido_detalles
		SET cantidad = cantidad + 1
		WHERE id_pedido = #{idPedidoDetalle}
	</update>
	
	<select id="obtenerDetallesPorIdPedido" resultMap="PedidoDetalleMap">
		SELECT 
			pd.id_pedido_detalle, pd.id_pedido, pd.id_producto, pd.cantidad, pd.precio_unitario, pd.subtotal, pd.fecha_creacion,
			p.id_producto, p.nombre, pi.imagen_url, p.precio
		FROM pedido_detalles pd
		JOIN productos p ON pd.id_producto = p.id_producto
		LEFT JOIN producto_imagenes pi ON pi.id_producto = p.id_producto AND pi.estado_auditoria = '1'
		WHERE pd.estado_auditoria = '1' AND pd.id_pedido = #{idPedido}
		GROUP BY pd.id_pedido_detalle, p.id_producto, pi.imagen_url
	</select>
	
	
</mapper>









